@import "tailwindcss";


/* Variáveis do css */

/*Light Mode*/
:root {
   --color-text: #464646;
  --color-primary: #7495ab;
  --color-priDark: #101828;
  --color-secondary: #f6eeea;
  --color-secDark: #ede6e2;
  --color-tertiary: #f1313e;
}

/* Adicione isto ao seu arquivo CSS principal */
@supports (-webkit-touch-callout: none) {
  .h-screen-ios {
    /* Define a altura máxima disponível para a viewport no iOS */
    height: -webkit-fill-available;
  }
}

  /*Dark Mode
/*Essa api é um recurso do css = indicar se uma determinada Cor/esquema está presente no dispositivo.
@media (prefers-color-scheme: dark) {
  :root {
  --color-text: #e9e9e9;
  --color-primary: #ede6e2;
  --color-priDark: #f6eeea;
  --color-secondary: #101828;
  --color-secDark: #7495ab;
  --color-tertiary: #F1313E;
}
}*/ 


/*Para facil utilização das variáveis do css*/
/* configurar o tema*/
@theme {
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);
  --color-priDark: var(--color-priDark);
  --color-secondary: var(--color-secondary);
  --color-secDark: var(--color-secDark);
  --color-tertiary: var(--color-tertiary);
}

/* Breakpoints */

@theme {
  /*Ipad Mini*/
  --breakpoint-md: 767px; /* A partir de 768px x 1024px (iPad Mini) o layout mudará */

  /*Laptop*/
  --breakpoint-lg: 1025px; /* A partir de 1025 (1024 (Ipad Pro)) o layout mudará */

  /*Ipad Pro*/
  --breakpoint-2md: 1024px; /* A partir de 1024 (tablet) o layout mudará */

  /*IPad Pro - Paisagem*/
  --breakpoint-3xl: 1300px; /* A partir de 1920 (laptop) o layout mudará */

  /*4k*/
  --breakpoint-4k: 2388px; /* A partir de 2388 (iPad Pro 2388px x 1668px) o layout mudará */
}

/*
Iphone 16 pro - 1170 x 2536 pixels
ipad Mini - 768 x 1024
laptop - 1920 x 1080
iPad Pro: 2388 x 1668 pixels
4k: 3840 x 2160
*/